#Main-Game {
    width: 100%;
    height: 937px;
    background-color: #1E1E1E;
    .title {
        padding-top: 50px;
        h1 {
            margin: 0px;
            padding: 0px;
            text-align: center;
            color: #fff;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 45px;
        }
    }
    .Game-lobby {
        h2 {
            color: #fff;
            font-size: 30px;
            text-align: center;
        }
        .options {
            display: flex;
            justify-content: space-evenly;
            margin-top: 200px;
            img {
                display: block;
                width: 300px;
                border: 8px solid #fff;
                border-radius: 100%;
                transition: all 300ms;
                cursor: pointer;
            }
            img:hover {
                box-shadow: 0px 0px 30px #ccc;
            }
        }
    }
    .Game-result {
        margin-top: 120px;
        display: none;
        .Result {
            display: flex;
            justify-content: space-evenly;
            .box {
                img {
                    display: block;
                    width: 300px;
                    border: 8px solid #fff;
                    border-radius: 100%;
                }  
                p {
                    color: #fff;
                    text-align: center;
                    font-size: 25px;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                }
            } 
        }
        p {
            text-align: center;
            font-size: 60px;
            color: #fff;
            font-family: 'Courier New', Courier, monospace;
        }
        .ganaste {
            color: rgb(53, 221, 23);
        }
        .perdiste {
            color: rgb(197, 27, 27);
        }
        .empate {
            color: rgb(36, 117, 192);
        }
        #reset {
            display: block;
            width: 250px;
            margin: 0px auto;
            text-align: center;
            padding: 20px;
            background-color: transparent;
            border: 3px solid #fff;
            color: #fff;
            transition: all 300ms;
            cursor: pointer;
        }
        #reset:hover {
            box-shadow: 0px 0px 10px #ccc;
            transform: scale(1.03,1.03);
        }
    }

}

//Responsive

@media(max-width: 1040px) {
    #Main-Game{
        min-height: 100vh;
        padding-bottom: 60px;
        .Game-lobby{
            .options {
                img{
                    width: 200px;
                }
            }
        }
    }  
}
@media(max-width: 754px) {
    #Main-Game{
        min-height: 100vh;
        padding-bottom: 60px;
        .Game-result{
            .Result {
                .box{
                    img{
                        width: 200px;
                    }
                }
                
            }
        }
    }  
}
@media(max-width: 738px) {
    #Main-Game{
        min-height: auto;
        padding-bottom: 60px;
        .Game-lobby{
            .options {
                display: block;
                margin-top: 70px;
                img{
                    width: 200px;
                    margin: 0px auto;
                    margin-bottom: 20px;
                }
            }
        }
    }  
}
@media(max-width: 510px) {
    #Main-Game{
        height: auto;
        padding-bottom: 60px;
        .Game-result{
            .Result {
                display: block;
                .box{
                    width: 218px;
                    margin: 0px auto;
                    img{
                        width: 200px;
                    }
                }
                
            }
        }
    }  
}
@media(max-width: 396px) {
    #Main-Game {
        min-height: auto;
        padding-bottom: 90px;
    }
}